.body {
    -fx-background-color: #ca2d36;
}

.bezel {
    -fx-background-color: rgba(217, 207, 207, 0.87);
    -fx-background-radius: 30 30 0 0;
}

.screen {
    -fx-background-color: transparent;
    -fx-background-radius: 15 15 15 15;
}

.screen2 {
    -fx-background-color: transparent;
    -fx-background-radius: 15 15 15 15;
    -fx-border-color: black;
    -fx-border-radius: 15 15 15 15;
}
.glass2{
    -fx-background-color: rgba(255, 255, 255, 0.16);
//-fx-background-radius: 15 15 15 15;
//-fx-border-radius: 15 15 15 15;

    -fx-border-radius: 30 30 0 0 ;
    -fx-background-radius: 30 30 0 0 ;
// -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.04), 0, 4, 30, 0);
    -fx-border-color: rgba(255, 255, 255, 0.66);
}
.glass3{
    -fx-background-color: rgba(255, 255, 255, 0.16);
//-fx-background-radius: 15 15 15 15;
//-fx-border-radius: 15 15 15 15;

    -fx-border-radius: 30 30 30 30 ;
    -fx-background-radius: 30 30 30 30 ;
// -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.04), 0, 4, 30, 0);
    -fx-border-color: rgba(255, 255, 255, 0.66);
}

.screen3 {
    -fx-background-color: linear-gradient(to bottom, rgba(255, 255, 255, 0.37), rgba(253, 253, 253, 0.78));
    -fx-background-radius: 15 15 15 15;
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 19;
    -fx-border-color: rgba(255, 255, 255, 0.85);
    -fx-border-radius: 15 15 15 15;
}


.blackGradient{
    -fx-background-color: rgba(62,62,62,0.7);
//-fx-background-radius: 15 15 15 15;
//-fx-border-radius: 15 15 15 15;

    -fx-border-radius: 30 30 30 30;
    -fx-background-radius: 30 30 30 30;
// -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.04), 0, 4, 30, 0);
    -fx-border-color: rgba(242, 225, 255, 0.66);

}
.ash{
    -fx-background-color: rgba(62,62,62,0.2);
//-fx-background-radius: 15 15 15 15;
//-fx-border-radius: 15 15 15 15;

    -fx-border-radius: 30 30 30 30;
    -fx-background-radius: 30 30 30 30;
// -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.04), 0, 4, 30, 0);
    -fx-border-color: rgba(242, 225, 255, 0.66);

}
.purplelabel{
    -fx-background-color: linear-gradient(to bottom, #b3b3bd, rgba(236, 120, 236, 0.43));
}
.glass {
    -fx-background-color: rgba(255, 255, 255, 0.6);
//-fx-background-radius: 15 15 15 15;
//-fx-border-radius: 15 15 15 15;

    -fx-border-radius: 30 30 30 30;
    -fx-background-radius: 30 30 30 30;
//-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.04), 0, 4, 30, 0);
    -fx-border-color: rgba(255, 255, 255, 0.66);

}

.screen-text {
    -fx-fill: white;
}

.grass-background {
    -fx-background-color: linear-gradient(to bottom, #0CCDA3, #93d2a5);
}

.fire-background {
    -fx-background-color: linear-gradient(to bottom, #c51f1f, #f14504);
}

.bug-background {
    -fx-background-color: linear-gradient(to bottom, rgb(197, 225, 12), #a7cb3e);
}

.water-background {
    -fx-background-color: linear-gradient(to bottom, rgb(79, 126, 239), rgb(103, 145, 210));
}

.button {
    -fx-border-color: white;
    -fx-text-fill: black;
    -fx-font-family: "Arial Rounded MT Bold";

    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.button-back {
   //-fx-background-color: green;
    -fx-border-color: white;
    -fx-text-fill: black;
    -fx-font-family: "Arial Rounded MT Bold";
    //-fx-font-size: 18;
    -fx-background-radius: 20 20 20 20 ;
    -fx-border-radius:20 20 20 20;
}

.button-forward {
    //-fx-background-color: green;
    -fx-background-color: #133d04;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 18;
    -fx-padding:10;
    -fx-background-radius: 20 20 20 20 ;
    -fx-border-radius:20 20 20 20;
}
.buttonsundor{
-fx-font-family: 'Arial Rounded MT Bold';
-fx-text-fill: black;
-fx-alignment: center;
-fx-border-width: 5;
-fx-background-color: pink;
-fx-font-size: 24;
}
.catagorybutton{
    -fx-background-color: linear-gradient(to bottom, #0CCDA3, #93d2a5);
    -fx-alignment: center;
    -fx-border-color: white;
    -fx-text-fill: black;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 16.5;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}
.catagory{
    -fx-background-color:white;
   // -fx-border-color: #e8e2e2;
    -fx-border-color: dropshadow(gaussian, rgb(27, 27, 29), 0, 4, 30, 0);
    -fx-border-color: rgba(35, 34, 34, 0.8);
    -fx-border-width: 0.5;
}
